.vs/
.idea/
bin.*/
CppProperties.json
build/
res/raw/
res/sounds/*
!res/sounds/ding.wav
data/
.config
.git.old

common.mak
system.mak

*.log
*.der
*.vcxproj.Filters
*.vcxproj.user
CMakeSettings.json

copyToBin.bat

updateBin.bat
TODO.txt
stuff

engine.vcxproj
server.vcxproj
