# ip
127.0.0.1
# port
8000
# ip version
4
# user name
Bob
# user cert thumb
DEADC0FFEEBEAADDEDDEAFC0CAFEEDEDC0DEF00D0
# log files dir
C:\SChat\logs
# cert files dir
C:\SChat\certs
# transfered files dir
C:\SChat\files
